.table-container {
  max-height: 400px;
  overflow: auto;
}
table {
  width: 100%;
}
mat-header-cell {
  background-color: #2581d5;
  color: white;
  font-weight: 800;
  padding-right: 6px;
  &:not(:first-child) {
    padding-left: 16px;
  }
  &:last-child{
    @media (max-width: 768px) {
      flex: 1.15;
    }
  }
}
mat-row{
  align-items: stretch;
  &:nth-child(odd) {
    background-color: #ebf1fe;
  }
}

mat-cell {
  padding-right: 6px;
  word-break: break-word;
  &:not(:first-child) {
    border-left: 1px solid rgba(0, 0, 0, 0.12);
    @media (min-width: 768px) { 
      padding-left: 16px;
    }
  }
  &:last-child{
    @media (max-width: 768px) {
      flex: 1.15;
    }
  }
}

fa-icon {
  margin-right: 6px;
}

.button--sm {
  margin-top: 8px;
  margin-bottom: 8px;
}

.validade--proxima {
  color: red;
  font-weight: 800;
}