form {
  margin-bottom: 16px;
  background-color: white;
  padding: 16px;
}

mat-form-field {
  margin-bottom: 8px;
  @media (max-width: 768px) {
    width: 100%;
  }
}

button {
  display: block;
  margin: 8px auto 0 auto;
}